main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

#find-user-form {
    position: relative;
}

#find-user-form > input {
    height: 40px;
    width: 500px;
    font-size: 1.3rem;
    padding: 0 5px;
}

#find-user-form > button {
    height: 100%;
    width: 50px;
    position: absolute;
    right: 0;
}

#edit-user-form {
    width: 500px;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: var(--box-shadow-default);
}

#edit-user-form {
    text-align: center;
    font-size: 1.3rem;
}

#edit-user-form .save {
    width: 100%;
    margin-top: 20px;
    font-size: 1.5rem;
}

#edit-user-form .block {
    width: 100%;
    margin-top: 5px;
    font-size: .7rem;
    background-color: rgba(255, 195, 195);
}