main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    flex: 1;
}

.item-cards-container {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.item-card {
    text-decoration: none;
    color: black;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 340px;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: var(--box-shadow-default);
    padding: 10px;
    transition: all .05s ease-in-out;
}

.item-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px black;
    background-color: rgba(0, 0, 0, .1);
}

.item-card img {
    width: 220px;
    height: 220px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.item-card .name {
    text-align: left;
    width: 100%;
    font-size: 1.2rem;
}

.item-card .price {
    position: absolute;
    font-size: 4rem;
    right: 20px;
    bottom: 0px;
    color: rgba(0, 0, 0, .1);
    font-weight: 900;
}

.item-card > .bottom-left {
    position: absolute;
    bottom: 5px;
    left: 5px;
}