main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

form {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    padding: 20px;
}

form > *:not(p) {
    margin-bottom: 10px;
}

form > p {
    text-align: left;
    width: 100%;
}

form > input {
    width: 300px;
    height: 30px;
    padding: 3px;
}

form > button {
    margin-top: 20px;
    width: 150px;
    height: 25px;
    text-align: center;
}