@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --box-shadow-default: 0px 0px 4px gray;
}

html {
    font-size: 1.2rem;
}

body {
    min-height: 100vh;
}

.background {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: radial-gradient(white 0%, rgba(205, 205, 205) 100%);
}

button:hover {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    background-color: rgba(255, 255, 255, .2);
    padding: 0px 50px;
    box-shadow: 0px 0px 4px gray;
}

#user-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#user-buttons * {
    background-color: rgba(255, 255, 255, .4);
    padding: 5px 20px;
    border-radius: 50px;
}

.header-button {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 4px gray;
    padding: 10px;
}

footer > p {
    text-align: center;
}