main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
}

.tab {
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: var(--box-shadow-default);
    padding: 20px;
    font-size: 1.5rem;
    width: 800px;
}

.edit-input {
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    background-color: rgba(0, 0, 0, 0.02);
    text-align: center;
    margin: 20px 0;
}

h1 {
    padding: 5px;
    margin-bottom: 10px;
}

.order {
    box-shadow: var(--box-shadow-default);
    margin: 10px;
}

.order-tab {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.02);
}

.order-info {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    flex: 1;
}

.additional-order-info {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.show-items-btn {
    width: 50px;
    margin: 5px;
    font-size: 1.5rem;
}

#items-container {
    width: 100%;
    text-align: left;
    border-spacing: 10px;
}

#items-container tr {
    box-shadow: var(--box-shadow-default);
}

#items-container td, #items-container th {
    padding: 0px 20px;
}

.order-item {
    font-size: 1rem;
    height: 70px;
    align-items: center;
}

.order-item * {
    flex: 1;
    padding: 4px;
}

.order-item .item-image {
    max-width: 50px;
}

.info-container {
    display: flex;
}

.info-container * {
    flex: 3;
}

.info-container > :first-child {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.bottom-buttons * {
    padding: 0 10px;
    font-size: 1.5rem;
}

.red-btn {
    background-color: #ffbbbb;
}

#change-password-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#change-password-modal input {
    display: block;
    width: 100%;
    font-size: 1.3rem;
}

#change-password-modal .close {
    position: fixed;
    z-index: 2;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
    padding: 10px;
}

#change-password-modal .window {
    padding: 10px;
    box-shadow: var(--box-shadow-default);
    background-color: white;
    width: 700px;
}

#change-password-modal button[type='submit'] {
    display: block;
    width: 100%;
    margin-top: 50px;
    height: 50px;
    font-size: 1.2rem;
}