main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#item-container {
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-shadow: var(--box-shadow-default);
    padding: 20px;
    height: 340px;
    background-color: rgba(255, 255, 255, .4);
}

#item-image {
    height: 300px;
    box-shadow: var(--box-shadow-default);
}

#item-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex: 1;
}

#quantity {
    width: 100px;
    font-size: 1.5rem;
    text-align: center;
}

#add-to-cart-btn {
    flex: 1;
    height: 50px;
    font-size: 1.5rem;
}

#quantity-add-container {
    gap: 5px;
    display: flex;
}

#item-sizes {
    font-size: 1.5rem;
    text-align: center;
}

#item-price {
    text-align: right;
    font-size: 4rem;
    font-weight: 900;
}