main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
}

.tab {
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: var(--box-shadow-default);
    padding: 20px;
    font-size: 1.5rem;
    width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: 10px;
}

table {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    border-spacing: 10px;
}

table * {
    padding: 0px 20px;
}

table tr {
    box-shadow: var(--box-shadow-default);
}

table img {
    max-height: 40px;
}

#total-price {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

#purchase-btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 1.5rem;
}

#no-items-msg {
    text-align: center;
}

#offers-page-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, .05);
}