main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: var(--box-shadow-default);
    padding: 20px;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, .4);
}

#item-image {
    height: 300px;
    box-shadow: var(--box-shadow-default);
}

#item-info {
    display: block;
}

#item-info * {
    text-align: center;
}

#remove-item-btn {
    width: 100%;
    display: block;
    margin-top: 20px;
    font-size: 2rem;
}