main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
}

.tab {
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: var(--box-shadow-default);
    padding: 20px;
    font-size: 1.5rem;
    width: 500px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: 10px;
}

#add-new-item input {
    display: block;
    width: 100%;
    font-size: 1.5rem;
}

#add-new-item .field {
    margin-top: 20px;
}

.size-field {
    display: flex;
}

.size-field * {
    flex: 1;
}

.size-field input {
    text-align: center;
}

.size-field label {
    text-align: right;
    margin: 0px 30px
}

#publish-btn {
    position: relative;
    margin-top: 40px;
    font-size: 1.5rem;
    padding: 5px 20px;
    width: 100%;
}

#error-msg {
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-top: 20px;
}